<p>My Profile</p>

<div>
  <form [formGroup]="changeInfoForm" (ngSubmit)="changeInfo">
    <div>

      <div>
        <span>Name</span>
        <input [formControlName]="'name'" type="text" name="name" value="{{user.name}}" placeholder="Enter your name" required>
      </div>

      <div>
        <span>Surname</span>
        <input [formControlName]="'surname'" type="text" name="surname" value="{{user.surname}}" placeholder="Enter your surname" required>
      </div>

      <span>E-mail</span> <input [formControlName]="'email'" value="{{user.email}}"  type="text" name="email" placeholder="Enter your e-mail" required >
    </div>

    <div>
      <span>Password</span>
      <input [formControlName]="'password'" value="{{user.password}}"  type="password" name="password">
    </div>

    <div class="button">
      <input type="submit" value="Update" (click)="changeInfo()">
    </div>

  </form>
</div>
