    <app-navbar></app-navbar>
    <form class="form_container" [formGroup]="changeInfoForm" (ngSubmit)="changeInfo">

     <div>

      <div class="input_container">
        <span>Name</span>
        <input class="input_field" [formControlName]="'name'" type="text" name="name" value="{{user.name}}" placeholder="Enter your name" required>
      </div>

      <div class="input_container">
        <span>Surname</span>
        <input class="input_field" [formControlName]="'surname'" type="text" name="surname" value="{{user.surname}}" placeholder="Enter your surname" required>
      </div>

    <div class="input_container">
      <span>Post Number</span>
      <input class="input_field" [formControlName]="'cityId'" value="{{user.cityId}}" placeholder="Enter a post number" type="number" name="cityId" required>
    </div>

      <div class="input_container">
        <span>Email</span>
        <input class="input_field" [formControlName]="'email'" value="{{user.email}}"  type="text" name="email" readonly>
      </div>


    <div class="button">
      <input class="sign-in_ggl" type="submit" value="Update" (click)="changeInfo()">
      <input class="sign-in_ggl" type="submit" value="Delete Account">
    </div>
    </div>
  </form>

