<header>
  <nav>
    <div class="logo">TravelHub</div>
    <ul>
      <li class="shrink">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
        >
      </li>
      <li class="shrink" *ngIf="isLoggedHost()">
        <a
          routerLink="/reservations/host"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Accommodation</a>
      </li>
      <li class="shrink" *ngIf="isLoggedGuest()">
        <a
          routerLink="/reservations"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Reservations</a>
      </li>
      <li class="shrink" *ngIf="isLoggedHost()">
        <a
          routerLink="/reservations/create"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Create</a>
      </li>
    </ul>
    <button (click)="onToggle()"> toggle  </button>

    <div [ngClass]="isToggled ? 'open-menu ' : 'sub-menu-wrap'">
      <div class="sub-menu">
        <div class="user-info">
          <h2>{{ name }}</h2>
        </div>
        <hr />
        <a routerLink="/app/profile" class="sub-menu-link">
          <p>My Profile</p>
          <span>></span>
        </a>
        <a (click)="onLogout()" href="#" class="sub-menu-link red">
          <p>Logout</p>
          <span>></span>
        </a>
      </div>
    </div>
  </nav>
</header>
