<div class="container">
  <div>
    <mat-form-field appearance="outline" >
      <mat-label>Destination</mat-label>
      <input matInput [(ngModel)]="flight.airportDestination">
    </mat-form-field><br>
    <mat-form-field  appearance="outline" class="fields" >
      <mat-label class="fields" >Departure</mat-label>
      <input class="fields"  matInput [(ngModel)]="flight.airportDeparture">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Date & time</mat-label>
      <input matInput [(ngModel)]="flight.departureTime">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Duration</mat-label>
      <input matInput [(ngModel)]="flight.duration">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Ticket price</mat-label>
      <input matInput [(ngModel)]="flight.ticketPrice">
    </mat-form-field><br>

    <mat-form-field appearance="outline">
      <mat-label>Available seats</mat-label>
      <input matInput [(ngModel)]="flight.capacity">
    </mat-form-field><br>
    <button mat-stroked-button (click)="createFlight()">
      Submit
    </button>
  </div>
</div>
