<form class="form_container" (ngSubmit)="signin()" [formGroup]="loginForm" > <!--(ngSubmit)="login()"-->
  <div>
    <div class="input_container">
      <label class="input_label">Email</label>
      <input class="input_field" [formControlName]="'email'" type="text" required>
    </div>

    <div class="input_container">
      <label class="input_label">Password</label>
      <input class="input_field" [formControlName]="'password'" type="password"  required >
    </div>
    <div>
      <button class="sign-in_ggl" type="submit">Login</button> <!-- (click)="login()"-->
      <button class="sign-in_ggl" type="submit" (click)="register()">Register</button>
    </div>
  </div>
</form>
<router-outlet></router-outlet>
